@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

// Colors
$black: #0E1343;
$blue: #0175D8;
$blue-light: #6DBBFA;
$blue-extra-light: #CBE9FF;
$orange: #FC8946;
$orange-light: #FFEAC9;
$grey: #A7AEB8;
$grey-light: #F6F7F9;
$white: #FFF;
$red: #F34949;

// Fonts
$font-family: 'Roboto', sans-serif;
